.app {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
  gap: 10em;
  max-height: 100vh;
  padding: 2em;
}

@media (max-width: 768px) {
  .app {
    flex-direction: column;
    padding: 0 1rem;
  }
}